force-app/main/default/flows/Prevent_deletion_when_at_least_one_Contact_exists.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Was_a_Contact_Found</name>
        <label>Was a Contact Found?</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Prevent_the_Account_being_deleted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found at least one</defaultConnectorLabel>
        <rules>
            <name>None_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Related_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>None found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Prevent deletion when at least one Contact exists {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prevent deletion when at least one Contact exists</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Prevent_the_Account_being_deleted</name>
        <label>Prevent the Account being deleted</label>
        <locationX>264</locationX>
        <locationY>503</locationY>
        <inputReference>Find_Related_Contacts</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Find_Related_Contacts</name>
        <label>Find Related Contacts</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_a_Contact_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Related_Contacts</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
